<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="downLoadPhoto.py" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
        </staticContent>
        <httpProtocol allowKeepAlive="false">
            <customHeaders>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
